<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/function.js"></script>
</head>
<body>
    <h1>Welcome to a sample Astronaut Page</h1><br>

    <label for="name">Input your "picture":</label><br>
    <input type="text" id="name" name="name" placeholder="picture"><br>

    <button onClick = "sendPicture()">send Picure!!</button><br>

    <!-- If you have sent a picture, then you can star looking for their response-->


</body>
</html>