<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Welcome to a sample User Page</h1>

        <p>The Picture String is: {{ picture_string }}</p>  <!-- Display the string here -->

            <!-- Conditional rendering based on picture_string -->
    {% if picture_string == "empty" %}
        <p>Empty String!!</p>
    {% else %}
        <p>Now you have a chance to respond!</p>
    {% endif %}

    </body>
</html>